@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #bca778;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "微軟正黑體";
}

.monster {
  width: 110px;
  height: 110px;
  background-color: #d37261;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  cursor: pointer;
  margin: 10px;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-animation: jumping 0.8s infinite alternate;
          animation: jumping 0.8s infinite alternate;
}
.monster .eye {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.monster .eyeball {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #0c4475;
}
.monster .mouth {
  width: 82%;
  height: 15px;
  background-color: white;
  border-radius: 12px;
  margin-top: 15%;
}
.monster:before, .monster:after {
  content: "";
  display: block;
  width: 20%;
  height: 10px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: -10px;
  border-radius: 10px;
}
.monster:before {
  transform: translateX(-70%) rotate(45deg);
}
.monster:after {
  transform: translateX(-30%) rotate(-45deg);
}
.monster.blue {
  background-color: #0c4475;
}
.monster.blue .mouth, .monster.blue .eyeball {
  background-color: #E55A54;
}
.monster.copy {
  background-color: #f7e37e;
}
.monster.copy .mouth, .monster.copy .eyeball {
  background-color: #563819;
}
@-webkit-keyframes jumping {
  50% {
    top: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  100% {
    top: -50px;
    box-shadow: 0px 120px 50px rgba(0, 0, 0, 0.2);
  }
}
@keyframes jumping {
  50% {
    top: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  100% {
    top: -50px;
    box-shadow: 0px 120px 50px rgba(0, 0, 0, 0.2);
  }
}
@-webkit-keyframes eyemove {
  0%, 10% {
    transform: translate(50%);
  }
  90%, 100% {
    transform: translate(-50%);
  }
}
@keyframes eyemove {
  0%, 10% {
    transform: translate(50%);
  }
  90%, 100% {
    transform: translate(-50%);
  }
}
.monster .eyeball {
  -webkit-animation: eyemove 1.6s infinite alternate;
          animation: eyemove 1.6s infinite alternate;
}

h2 {
  color: white;
  font-size: 40px;
  margin-right: 50px;
}

h3 {
  margin-top: 0;
  opacity: 0.5;
  color: white;
}

.pageLoading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0c4475;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s 0.5s;
}
.pageLoading.complete {
  opacity: 0;
}
.pageLoading.complete .monster {
  transform: scale(0.01) rotate(360deg);
}

.loading {
  width: 200px;
  height: 8px;
  background-color: #fff;
  margin-top: 80px;
  border-radius: 4px;
  overflow: hidden;
}
.loading .bar {
  width: 0%;
  height: 100%;
  background-color: #E55A54;
}